server:
  port: 8085

spring:
  application:
    name: api-gateway
  main:
    web-application-type: reactive

  cloud:
    gateway:
      routes:
        - id: users-service
          uri: lb://USERS-SERVICE
          predicates:
            - Path=/api/users/**
        - id: orders-service
          uri: lb://ORDERS-SERVICE
          predicates:
            - Path=/api/orders/**

  security:
    user:
      name: admin
      password: sifra123
      roles: ADMIN

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
